[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "LCA"]
	path = LCA
	url = https://github.com/cran/LCA
	shallow = true
	registered = true
